* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to bottom right, #ffb6c1,#ff556f);
}

.grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: minmax(70px, auto) repeat(6, 70px);
}

.grid button {
    border: 1px solid white;
    background: linear-gradient(225deg, #a4e6dc, #c3ffff);
}

.grid button:hover {
    background: linear-gradient(225deg, #02ffd9, #c3ffff);;
}

.span-two {
    grid-column: span 2;
}


.display {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.display .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}
.display .output {
    color: white;
    font-size: 2.5rem;
}

.findme {
    text-align: end;
    color: white;
    grid-column: 1/5;
    padding: 1em;
  }
  .findme a {
    text-decoration: none;
    color: white;
  }